body{
    background-color: black;
}
.everything{
    display: flex;
    justify-content: center;
    border: 3px solid rgb(186, 28, 28);
    border-radius: 10px;
    border-top-color: aquamarine;
    
}
.title{
    color: azure;
    font-family: 'Chakra Petch', sans-serif;
    padding-top: 10%;
    padding-left: 90%;
}
.sub-title{
    color: ivory;
    font-family: 'Chakra Petch', sans-serif;
    font-size: 40px;
}

.the-img img{
    padding-top: 4%;
    width: 1000px;
}
/* .the-img{
    border: 1px solid aquamarine;
} */
.information{
    color: azure;
    padding-top: 3%;
}
