body{
   background-image: url(../images/blanket-4.jpg);
   background-repeat: no-repeat;
   background-size: cover;
}


.title{
    padding-right: 15%;
    color: azure;
    font-size: 500%;
    display: flex;
    justify-content: center;
    font-family: 'Chakra Petch', sans-serif;
    padding-bottom: 1%;    
}

.all-things {
    display: flex;
    justify-content: center;
}

.things{
    background-image: url(../images/white.jpg);
    background-size: 30%;
    padding-left: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    width: 800px;
    border: 1px solid black;
    border-radius: 10%;
    
}

.things > .my-img{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}
 .img-div {
    display: flex;
    padding-bottom: 10%;
}

.img-div a{
    font-family: 'Lobster', cursive;
    color: rgba(255, 255, 255, 0.049);
    /* background-color: rgba(0, 255, 255, 0.357); */
    display: flex;
    align-self: center;
    position: absolute;
    padding-right:16%;
    padding-top: 13%;
    
    
}

.things-name{
    display: flex;
    font-family: 'Neonderthaw', cursive;
    background-color: gold;
    position:absolute;
    margin-top: 1%;

}
.price{
    display: flex;
    font-family: 'Neonderthaw', cursive;
    background-color: gold;
    position: absolute;
    margin-left: 19%;
    margin-top:12%;
}