.paginacion{
    margin: 20px 0;
}

.paginacion ul {
    list-style:none;
    text-align:center;
}

.paginacion ul li {
    display: inline-block;
    margin-right: 10px;
}

.paginacion ul li a {
    display: block;
    padding:10px 20px;
    color:#fff;
    background-color:#024959 ;
}

.paginacion ul li .active{
    background:#037e8c;
    font-weight: bold;
}