body{
    background-image: url(../images/blanket-4.jpg);
    background-size: cover;
}
.title{
    font-size: 50px;
    font-family: 'Licorice', cursive;
    display: flex;
    padding-left: 10%;
    padding-top:5%;
    padding-bottom: 5%;
    align-items: center;
    color: azure;
}




.the-img{
    display: flex;
    justify-content: center;
    border: 3px solid rgb(255, 246, 246);
    width: 1555px;
    height: 537px;
    
    
}

.box1{
    display: flex;
    padding-left: 9%;
}
img{
    width: 700px;
}


.back{
    display: flex;
    padding-left: 90%;
    padding-bottom: 3%;
}


.information{
    border-style:dotted ;
    background-image: url(../images/white.jpg);
    border-color: azure;
    font-size: 190%;
    font-family: 'Playfair Display', serif;
    color: rgb(46, 14, 14);
    padding-top: 10%;
    padding-left: 1%;
}
